<div class="relative">
  <input
    type="search"
    [(ngModel)]="searchQuery"
    placeholder="Search"
    (ngModelChange)="onSearchQueryChanges($event)"
    class="search-input-box"
  />

  <div
    *ngIf="searchResults.length > 0 && showModal"
    class="pokemon-list-dropdown card-box-shadow"
    appClickOutside
    (clickOutside)="onOutsideClick($event)"
  >
    <p *ngFor="let pokemon of searchResults" class="search-result-item">
      {{ pokemon.name | titlecase }} (ID: {{ pokemon.id }})
    </p>
  </div>
</div>
