<div
  class="flex flex-row flex-space-between m-10 pokemon-list-item card-box-shadow"
  [ngClass]="{ 'border-top-1 surface-border': true }"
>
  <div class="flex flex-row">
    <img
      class="block xl:block mx-auto border-round w-full"
      [src]="
        'https://assets.pokemon.com/assets/cms2/img/pokedex/detail/' +
        pokemon.slug +
        '.png'
      "
      [alt]="pokemon.name"
      width="120"
      height="120"
    />
    <div class="ml-20">
      <h2 class="text-lg font-medium text-900 mt-10">
        {{ pokemon.name | uppercase }}
      </h2>
      <p class="text-xl font-semibold text-900">{{ "#" + pokemon.slug }}</p>
    </div>
  </div>
  <div class="m-10">
    <a [routerLink]="['/pokemon', pokemon.name]">
      <p-button
        icon="pi pi-arrow-right"
        class="flex-auto md:flex-initial white-space-nowrap"
        label="View More"
        size="small"
      />
    </a>
  </div>
</div>
